* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", 'Nanum', 'Malgun Gothic', sans-serif;
  margin: 0;
  line-height: 1.6;
}

html, body {
  text-size-adjust: none;
  font-size: 16px;
  color: #1F2E44;
  overflow-y: auto;
  overflow-x: hidden;
}

&::-webkit-scrollbar {
  height: 14px;
}
&::-webkit-scrollbar-track {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
&::-webkit-scrollbar-thumb {
  width: 40px;
  border: 3px solid transparent;
  border-radius: 7px;
  background-clip: padding-box;
  background-color: #e0e0e0;
}
&::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
&::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  background-color: #fff;
  &.dark {
    background-color: #000;
    &::-webkit-scrollbar-track {
      border-top: 1px solid #353535;
      border-bottom: 1px solid #353535;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #353535;
    }
  }
}

// TODO: element-ui infinite scroll로 인해 리팩토링 필요
html {
  &.full-height {
    height: 100%;
    overflow-y: auto;
    body {
      height: 100%;
      overflow-y: auto;
    }
    #app {
      padding-bottom: 0 !important;
    }
    #app:not(.dark) {
      height: 100%;
      overflow-y: hidden;
    }
  }
  &.full-height-exchange {
    body, #app {
      height: 100%;
    }
    #app {
      padding-bottom: 0 !important;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
  border: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  cursor: pointer;
  text-align: left;
}

button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #1F2E44;
}